.grid {
  --cell-size: min(50px, calc(90vw / var(--grid-side-length)));
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(var(--grid-side-length), var(--cell-size));
  background-image:
    linear-gradient(to right, rgba(245, 245, 245, 0.95), rgba(245, 245, 245, 0.95)),
    linear-gradient(to right, black 50%, white 50%),
    linear-gradient(to bottom, black 50%, white 50%);
  background-blend-mode: normal, difference, normal;
  background-size: calc(var(--cell-size) * 2) calc(var(--cell-size) * 2);
  border-radius: calc(var(--cell-size) / 8);
  overflow: hidden;
}